doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Тест")
    link(rel="preload" href="../assets/fonts/open_sans/OpenSans-Light.ttf" as="font" crossorigin)
    link(rel="stylesheet" href="styles/style.css")
    title Тест
  body
    header.header
      .header__tittle
        .header__tittle__slogan
          h1 Репро дукцио
          p Оффлайн-магазин репродукций шедевров мирового искусства
        .header__tittle__adress
          p Санкт-Петербург, ул. Адмирала Черокова, 18
          br
          p
            | +7 812 960-22-01 
            a.mail(href="shop@reproduct.io")  shop@reproduct.io
      .header__slider  
        .slider-for
          #slide_1.slider-for__slide(data-src="background-image:url(../assets/img/152.jpg)" style="background-image: url(https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,h_4,w_5/v1612354719/152_auotfq.jpg)")
            .slider-for__text
              .slide__text__about
                a.picture(href="#") Корабль
                p.Autor Автор ...
              .slide__text__sale
                p 131 x 155 см, холст
                span.rubl 2400 &#8399;
          #slide_2.slider-for__slide(data-src="background-image:url('../assets/img/klod-mone-leto-lug-v-bezone.jpg')" style="background-image: url(https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,h_4,w_6/v1612354719/klod-mone-leto-lug-v-bezone_gf5qoc.jpg)")
            .slider-for__text
              .slide__text__about
                a.picture(href="#") Пейзаж
                p.Autor Автор ...
              .slide__text__sale
                p 97 x 108 см, холст
                span.rubl 2000 &#8399;
          #slide_3.slider-for__slide(data-src="background-image:url('../assets/img/picfull2_5b06d59739320.jpg')" style="background-image: url(https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,h_4,w_6/v1612354719/picfull2_5e0dfd371b084_mzj2k2.jpg)")
            .slider-for__text
              .slide__text__about
                a.picture(href="#") Путешевствие
                p.Autor Автор ...
              .slide__text__sale
                p 123 x 110 см, холст
                span.rubl 3000 &#8399;
      .slider-nav
        div(id="#slide_1")
          img(alt='' data-src="assets/img/152.jpg" src="https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_3/v1612354719/152_auotfq.jpg")
        div(id="#slide_2")
          img(alt='' data-src="assets/img/klod-mone-leto-lug-v-bezone.jpg" src="https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_3/v1612354719/klod-mone-leto-lug-v-bezone_gf5qoc.jpg")
        div(id="#slide_3")
          img(alt='' data-src="assets/img/picfull2_5b06d59739320.jpg" src="https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_3/v1612354719/picfull2_5b06d59739320_my2uxy.jpg")
    .fone(data-src="background-image: url(../assets/img/RC83Yi.jpg)" style="background-image: url(https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_4/v1612354720/RC83Yi_xpuuxh.jpg)")
      footer.footer
        .footer__tittle
          h1 Популярное
          p Нестареющая классика и бестселлеры.
        .footer__slider
          .slider2
            #slide_1.slider__slide
              img(alt='' data-src="assets/img/cover.jpg" src="https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_4/v1612354719/cover_rkfpjs.jpg")
              .slider__text
                .slide__text__about
                  a.picture(href="#") Поле
                  p.Autor Автор ...
                  p.size 100 x 110 см, холст
                  p.sale
                    span.rubl 2000 &#8399;
            #slide_2.slider__slide
              img(alt='' data-src="assets/img/Ivan-Ivanovich-Shishkin-Morning-in-piny-wood-study-.jpg" src="https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_4/v1612354719/Ivan-Ivanovich-Shishkin-Morning-in-piny-wood-study-_morzhf.jpg")
              .slider__text
                .slide__text__about
                  a.picture(href="#") Мишки на дереве
                  p.Autor Автор ...
                  p.size 150 x 140 см, холст
                  p.sale
                    span.rubl 3200 &#8399;
            #slide_3.slider__slide
              img(alt='' data-src="assets/img/ivan-shishkin-peizazh-s-ozerom-kholst-maslo-kartina-priroda.jpg" src="https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_4/v1612354720/ivan-shishkin-peizazh-s-ozerom-kholst-maslo-kartina-priroda_fkx3bj.jpg")
              .slider__text
                .slide__text__about
                  a.picture(href="#") Озеро
                  p.Autor Автор ...
                  p.size 150 x 90 см, холст
                  p.sale
                    span.rubl 2600 &#8399;
            #slide_4.slider__slide
              img(alt='' data-src="assets/img/picfull2_5e0dfd371b084.jpg" src="https://res.cloudinary.com/dknlymwk2/image/upload/c_scale,w_4/v1612353354/picfull2_5e0dfd371b084_pbxo1f.jpg")
              .slider__text
                .slide__text__about
                  a.picture(href="#") Село
                  p.Autor Автор ...
                  p.size 160 x 140 см, холст
                  p.sale
                    span.rubl 3200 &#8399;
        .footer__down
          .footer__write
            .footer__write__write-me
              h1 Написать нам
              p
                | Заполните форму справа или отправьте письмо на 
                a(href="#") shop@reproduct.io
            .footer__write__info
              p Репродукцио, 2019
              div
                a.show-popup(href="#text-popup" data-effect="mfp-zoom-in") Правила обработки персональных данных
              #text-popup.white-popup.mfp-with-anim.mfp-hide
                .text-popup__text
                  h3 Правила обработки персональных данных
                  p
                    | Представляя свои персональные данные Пользователь деёт согласие на обработку, хранение и использование своих персональных данных на основании ФЗ № 152-ФЗ "О персональных данных" от 27.07.2006 г. в следующих целях:
                  .about
                    p Осуществление клиентской поддержки;
                    p Получения Пользователем информации о маркетинговых событиях;
                    p
                      | Проведения аудита и внутренних исследований с целью повышения качества предоставляемых услуг.
                  p
                    | Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность ПОльзователя, такая как:
                  .about
                    p Фамилия, имя и отчество
                  p
                    | Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с использованием требований законодательства.
                  p
                    | Компания обязуется не передавать полученных Персональные данные третьим лицам, за исключением следующих случаев:
                  p
                    | По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ
                  p
                    | Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.
                button.mfp-close(title="Close (Esc)" type="button")
                  figure.mfp-close.icon-close-1
          .footer__message
            label.footer__message__inputs
              input#email(placeholder="Эл. почта")
              textarea#message(placeholder="Сообщение")
              button#toSend Отправить сообщение
            .footer__message__success
              h1 Отправлено
              p Мы ответим Вам на почту в течение нескольких рабочих дней
            .has__error
              .error Введите почту в формате '×××@×××.××'
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    script(src="scripts/index.js")