doctype html
head
  meta(charset='utf-8')
  title &Tcy;&iecy;&scy;&tcy;
  link(rel='stylesheet' href='styles/style.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
body#body
.left
  button#darkthemeOn Включить тёмную тему
  button#darkthemeOff Выключить тёмную тему
  img(src='assets/img/Smile.png')
.center
  h1 О себе
  .center__persone
    p.center__persone__Name
      b Имя
      | :Валерий
    p.center__persone__birthDate
      b Дата рождения
      | :22.04.97
    p.center__persone__children
      b Дети
      | :детей нет
    p.center__persone__gender
      b Пол
      | :мужской
    p.center__persone__nationality
      b Страна
      | :Россия
    p.center__persone__about
      | Использован типограф! -> - "Sed consequat lobortis tellus quis fringilla. Aenean eleifend sapien quis tellus rhoncus, et elementum justo pulvinar. Vestibulum gravida metus non turpis congue dignissim. Cras vitae urna nibh. Morbi consectetur ex vel cursus bibendum. Nunc dignissim massa non lacus commodo fringilla. Sed id ipsum ac diam fermentum condimentum feugiat a nunc. Nulla tincidunt vel ante non venenatis. Vestibulum fermentum velit et auctor sodales. Sed sagittis metus eget justo lobortis lobortis. Nulla dictum condimentum ipsum, a interdum nibh rutrum a. Nulla sed justo mi. Suspendisse sit amet feugiat magna."
.right
  .right__films
    h1 Любимые фильмы:
    figure.icon-klapperstei 
      a(href='https://yandex.ru/video/preview/?text=ван%20хельсинг&path=wizard&parent-reqid=1611344218480793-1309973593895430904100284-prestable-app-host-sas-web-yp-102&wiz_type=v4thumbs&filmId=17864313596008191683') Ван Хельсинг
    br
    br
    figure.icon-klapperstei
      a(href='https://www.youtube.com/watch?v=fAdqNYBGjys') Другой мир
    br
    br
    figure.icon-klapperstei 
      a(href='https://yandex.ru/video/preview/?text=блейд&path=wizard&parent-reqid=1611344504123389-1290038625919035707300267-prestable-app-host-sas-web-yp-20&wiz_type=vital&filmId=18328954964200579549') Блейд
    br
    br
    h1 Любимые альбомы:
    figure.icon-glass
      a(href='https://vk.com/music/album/-2000318546_7318546_4f177dc9207f41a3b8') Angel Dust
    br
    br
    figure.icon-glass     
      a(href='https://vk.com/music/album/-2000318501_7318501_174c6ad11dd25ba0e5') Seelenschmerz
      .example Проверка автофиксера 
script(src="scripts/index.js")